<% provide(:title, "log in") %>

  <style>
    .row {

      color:white;
      margin-left:420px;


    }
  </style>

<h1 style ="font-size:50px;text-align:center;color:whitesmoke;margin-left:400px">Car Rental</h1>
<p id="notice"><%= notice %></p>

  <div class="row">

      <%= form_for(:session, url: login_path) do |f| %>

          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
<br><br>
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
          <br><br>
          <%= f.submit "log in", class: "btn btn-primary" ,style:"font-size:25px"%>
      <% end %>
    <p style="font-size:20px;">New user? <%= link_to "Sign up now!", signup_path ,style:"color:lightgoldenrodyellow"%></p>

    <body background="http://st.motortrend.com/uploads/sites/5/2013/04/2013-Honda-Fit-front-view-hatch-open1.jpg"></body>

</div>
