<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<!-- <p>
  <strong>Password digest:</strong>
  <%= @customer.password_digest %>
</p>-->

<p>
  <strong>Charge:</strong>
  <%= @customer.charge %>
</p>

<%= link_to 'Edit Profile', edit_admin_customer_path(@admin.id, @customer.id) %> |
<%= link_to 'Rent a car', search_admin_customer_path(@admin.id, @customer.id)%> |
<% unless @customer.recordid.nil? %>
    <% if @customer.recordid < 0 %>
        <%  car = Car.find( -1- @customer.recordid )%>
    <%else%>
        <% car = Record.find(@customer.recordid).car %>
    <%end%>
    <%= link_to 'Customer\'s car', show_admin_customer_car_path(@admin.id, @customer.id, car.id)%>|
<% end %>
<%= link_to 'Back', all_customers_admin_path(@admin) %>

