<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<!-- <p>
  <strong>Password digest:</strong>
  <%= @customer.password_digest %>
</p>-->

<p>
  <strong>Charge:</strong>
  <%= @customer.charge %>
</p>

<%= link_to 'Edit My Profile', edit_customer_path(@customer) %> |
<%= link_to 'Log out', customer_logout_path, method: :delete %> |
<%= link_to 'Rent a car', search_customer_path(@customer)%> |
<% unless @customer.recordid.nil? %>
    <% if @customer.recordid < 0 %>
      <%  car = Car.find( -1- @customer.recordid )%>
    <%else%>
        <% car = Record.find(@customer.recordid).car %>
    <%end%>
    <%= link_to 'My car', showcar_customer_customer_path(car)%>|
<% end %>

<%= link_to 'My history', myhistory_customer_path(@customer)%>

